h1 {
  color: violet;
  margin-left: 400px;
}
a {
  color: pink;
  padding: 3px;
}
h2,
h3 {
  color: violet;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  margin-left: 400px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
nav {
  color: lavender;
  background-color: blueviolet;
  width: 200px;
}
nav a {
  color: lavender;
}
section {
  margin-left: 100px;
}

header {
  background-color: grey;
  margin: 0%;
}
footer {
  margin-left: 100px;
}
body {
  background-color: white;
  border: 10px solid violet;
}
