h1 {
  color: violet;
  margin-left: 400px;
}
a {
  color: pink;
  padding: 10px;
}
h2,
h3 {
  color: violet;
  padding-bottom: 25px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  margin-left: 400px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  top: 25px;
  right: 390px;
}
nav {
  color: lavender;
  background-color: blueviolet;
  width: 200px;
  position: fixed;
  top: 25px;
}
nav a {
  color: lavender;
}
section {
  margin-left: 100px;
}

header {
  background-color: grey;
  margin: 0;
  position: static;
}
footer {
  margin-left: 100px;
}
body {
  background-color: white;
  border: 10px solid violet;
  margin: 0;
}
#back-to-top {
  position: fixed;
  border-radius: 50%;
  right: 80px;
  bottom: 80px;
  padding: 10px;
}
button {
  background-color: pink;
  border-radius: 0px;
  border: 25;
  border-color: grey;
}

select {
  color: purple;
}
form {
  background-color: pink;
  margin-left: -100px;
}
input {
  color: purple;
}
::placeholder {
  color: purple;
}
.hero-banner {
  background-image: url("abstract.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: white;
}

/*small devices*/
@media only screen and (min-width: 300px) {
  body {
    background-color: rgb(221, 135, 149);
    font-size: medium;
  }
  h1 {
    margin: 100px;
  }
  a {
    color: blueviolet;
  }
  section {
    margin: 0;
  }
  img {
    width: 150px;
    height: 150px;
    position: relative;
    top: 2px;
    right: 390px;
  }
  footer {
    margin: 0;
  }
  form {
    background-color: pink;
    margin-left: 10px;
  }
}

/*medium devices*/
@media only screen and (min-width: 769px) {
  body {
    font-size: x-large;
    background-color: rgb(233, 94, 117);
  }
  section {
    margin: 0;
  }
  img {
    width: 200px;
    height: 200px;
    position: relative;
    top: 2px;
    right: 390px;
  }
  h1 {
    margin: 250px;
  }
  footer {
    margin: 0;
  }
  form {
    background-color: pink;
    margin-left: 10px;
  }
  a {
    color: blueviolet;
  }
}

/*large devices*/
@media only screen and (min-width: 1024px) {
  body {
    background-color: palevioletred;
    font-size: xx-large;
  }
  section {
    margin: 0;
  }
  img {
    width: 250;
    height: 250px;
    position: relative;
    top: 2px;
    right: 390px;
  }
  h1 {
    margin: 350px;
  }
  footer {
    margin: 0;
  }
  form {
    background-color: pink;
    margin-left: 10px;
  }
  a {
    color: blueviolet;
  }
}
